    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="msvalidate.01" content="815C82C74ED363E419486F6A1DA557B9" />
    {% seo title=false %}
    <!-- testing the PWA code -->
    <link rel="manifest" href="/manifest.json" >
    <meta name=theme-color content=#0000ff>
    <script>
  (function(){
    if(window.BOOMR && window.BOOMR.version){return;}
    var dom,doc,where,iframe = document.createElement("iframe"),win = window;
  
    function boomerangSaveLoadTime(e) {
      win.BOOMR_onload=(e && e.timeStamp) || new Date().getTime();
    }
    if (win.addEventListener) {
      win.addEventListener("load", boomerangSaveLoadTime, false);
    } else if (win.attachEvent) {
      win.attachEvent("onload", boomerangSaveLoadTime);
    }
  
    iframe.src = "javascript:false";
    iframe.title = ""; iframe.role="presentation";
    (iframe.frameElement || iframe).style.cssText = "width:0;height:0;border:0;display:none;";
    where = document.getElementsByTagName("script")[0];
    where.parentNode.insertBefore(iframe, where);
  
    try {
      doc = iframe.contentWindow.document;
    } catch(e) {
      dom = document.domain;
      iframe.src="javascript:var d=document.open();d.domain='"+dom+"';void(0);";
      doc = iframe.contentWindow.document;
    }
    doc.open()._l = function() {
      var js = this.createElement("script");
      if(dom) this.domain = dom;
      js.id = "boomr-if-as";
      js.src = "//c.go-mpulse.net/boomerang/" +
      "ZGHU6-BQ6XZ-WK7H9-G5LM5-AML2J";
      BOOMR_lstart=new Date().getTime();
      this.body.appendChild(js);
    };
    doc.write('<body onload="document._l();">');
    doc.close();
  })();
</script>
