---
layout: default
---
<article class="post">
<!-- adding publisher information -->
   <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="http://www.travelersuniverse.com/images/profile_picture.jpg""><meta itemprop="width" content="576"><meta itemprop="height" content="150"></div><meta itemprop="name" content="Akshay Ranganath's Blogs"></div>
<!-- end publisher information -->
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
